 <title>Browsing Customers</title>
 <main class="content">
  <H1 id="center" class="title"><strong>Customers</strong></H1>
<div id="nav-container">
  <div id="button" class="next-to post"><a href="/merchandise">Merchandise</a></div>
  <div id="button" class="next-to post"><a href="/transactions">Transactions</a></div>
  <div id="button" class="next-to post"><a href="/favorites">Favorites</a></div>
  <div id="button" class="next-to post"><a href="/transactionDetails">Trans. Details</a></div>

</div>
    

<div class="overflow">
  <table id="customer-table" class="center-table">
    <thead>
        
        {{!--  For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr> --}}
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
   <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.customerID}}</td>
            <td>{{this.customerName}}</td>
            <td>{{this.customerEmail}}</td>
            <td>{{this.customerGender}}</td>
            <td><button type="button" id="toggle-edit">Edit</button></td>
            <td><button type="button" id="toggle-delete">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
  </table>
</div>
<button type="button" id="new-record-button">New Customer</button>

<div id="insert" class="hidden">
  <form method="POST" id="add-customer-form-ajax">
    <legend><strong>Insert Customer</strong></legend>
     <fieldset>
      <div><label for="input-customer-name">First Name:</label> <input type="text" name="input-customer-name" id="input-customer-name"></div>
      <div><label for="input-email"> Email </label> <input type="text" name="input-email" id="input-email"></div>
      <div><label for="input-gender"> Gender </label> <input type="text" name="input-gender" id="input-gender"></div>
      <div>
        <input class="btn" type="submit">
        <input class="btn" type="button" value="Cancel" id="Cancel">
      </div>
     </fieldset>
  </form>
</div>

<div id="update" class="hidden">
  <form method="POST" id="update-customer">
    <legend><strong>Update Customer</strong></legend>
    <fieldset class="fields">
      <label> Customer:</label> <select name="name">
        <option value="0" selected>Kyle Leuzinger</option>
        <option value="1" selected>Sebastian Gaddis</option>
        <option value="2" selected>Aleta Mundell</option>
        <option value="3" selected>Sabeth Kennedy</option>
      </select>
      <div><label>First Name:</label> <input type="text" name="fname"></div>
      <div><label> Last Name: </label> <input type="text" name="lname"></div>
      <div><label> Email </label> <input type="text" name="gender"></div>
      <div><label> Gender </label> <input type="text" name="gender"></div>
      <input class="btn" type="button" value="Submit">
    </fieldset>
  </form>
</div>

<div id="delete" class="hidden">
  <form method="POST" id="deletePerson">
      <legend><strong>Delete Person</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="personID" id="deletepersonID" value="1">
          <label><strong>ID:</strong></label> 1
          <label> <strong>Name</strong> </label> William Adama
          <div>
            <input class="btn" type="submit" id="DeletePerson" value="Delete">
            <input class="btn" type="button" value="Cancel">
          </div>  
    </fieldset>
    
  </form> 
</div>

</main>
